<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control form-control1", placeholder: "Insert Title", required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control form-control1", placeholder: "Insert description", required: true %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control form-control1", placeholder: "Insert Price", required: true %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, class: "form-control form-control1", placeholder: "Insert image name"%>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, class: "form-control form-control1", placeholder: "Insert category name", required: true %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, class: "form-control form-control1", placeholder: "Insert company name" %>
  </div>

  <div class="actions">
    <%= form.submit "Update Item", class: "smallbutton" %>
  </div>
<% end %>
